body{
    background-color: #141311;
}
.menu-title {
    text-align: center;
    width: 800px;
}

h1,h2,h3,h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: auto;
    color:#ee00e8;
}

.about-us-paragraph{
color: #946ea0;
padding: auto;
margin-inline-start: 1%;
}

h2{
    text-align: center;
    text-decoration-color: blueviolet;
}
.menu-description{
    color: #946ea0;
    font-size: 1em;
    line-height: 0cap;
    padding: auto;
margin-inline-start: 2.5%;
}

.disclaimer{
    color: crimson;
}

#location{
Color: #946ea0
}

#hours{
    Color: #946ea0
    }

    #socialMedia{
        color:#946ea0
    }

    .image-trailer{
        width: 100%;
        height: auto;
    }

    .image-hero-chef{
        width: 100%;
        height: auto;
    }

    